<header class="flex justify-between items-center py-6 w-[700px] mx-auto">
    <img class="rounded-full w-12 h-12 mr-4" src="https://i.pinimg.com/474x/01/ab/fc/01abfc687a17904a0a16e3bfc266831a.jpg" alt="foto javi">
    <nav class="flex flex-row gap-x-8 text-xl">
        <a href="/about" class="text-white hover:text-gray-300">Inicio</a>
        <a href="/about" class="text-white hover:text-gray-300">Contacto</a>
        <a href="/about" class="text-white hover:text-gray-300">Github</a>
        <a href="/about" class="text-white hover:text-gray-300">Proyectos</a>
    </nav>
</header>